
.aprobado {color: green;}
.reprobado {color: red;}

.barra {
    width: 100%;
    height: 20px;
    background: #ddd;
    margin: 10px 0;
}

.progreso{
    height: 100%;
}

.rojo{background: red;}
.naranja{background: orange;}
.verde{background: green;}
